body {
    background: rebeccapurple;
}

a {
    color: black;
}

article {
    background: yellowgreen;
}

section {
    background: hotpink;
}

.img5 {
    border-radius: 50%;
}

table {
   border-color: brown;
   
}